zz-*
.DS_Store



# ignore previously tracked content
#
# N0TE: this method momentarily deletes newly ignored content from server
#
# 1. update .gitignore and note content that's newly ignored
#
# $ git rm -r --cached .
# $ git add .
# $ git commit
# $ git push
#
# 2. after push use S/FTP to post newly ignored content back to server



# output tracked files on master
#
# $ git ls-tree -r master --name-only
# $ git ls-tree -r main --name-only



# .GITIGNORE RULES

# src: https://stackoverflow.com/questions/17888695/difference-between-gitignore-rules-with-and-without-trailing-slash-like-dir-an

# /dir will match a file, directory, link, anything named dir
# /dir/ will match only a directory named dir
# /dir/* will match all files, directories and anything else inside a
#        directory named dir (but not the dir directory itself).
